<!DOCTYPE html>
<html>
  <head>
    <title>Bingo Game Type Set</title>
  </head>
  <body>
    <h1>Bingo Game Type Set</h1>
    <p>
      You have selected the <strong><%= gameType %></strong> Bingo game type.
    </p>
  </body>
</html>
